<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav1') %>
    <h2>APPROVED REQUEST</h2>
<br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">BEGIN DATE</th>
              <th scope="col">END DATE</th>
              <th scope="col">HOSTEL</th>
              <th scope="col">CONFIRMATION</th>
            </tr>
          </thead>
    <%resu.forEach((item)=>{ %>
        <tr>
        <td scope="col">id <%= item.id %></td>
        <td scope="col"><%= item.begindate %></td>
        <td scope="col"><%= item.enddate %></td>
        <td scope="col"><%= item.hostel %></td>
        <td scope="col">Confirmed</a></td>
    </tr>
        <% }) %>
        
    
    </table>
</body>
</html>